/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-padding-top: 1rem;
    scroll-behavior: smooth;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

/*Variables*/

:root{
    --main-color:#1046e7;
    --text-color:#020101;
    --bg-color:#fff;
}
/* custom scroll Bar*/
html::-webkit-scrollbar{
    width: 0.5rem;
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    border-radius: 5rem;
    background: var(--text-color);
}
section{
    padding: 4rem 0 2rem;

}

img{
    width: 100%;
}

body{
    color: var(--text-color);
}

.container{
    max-width: 1068px;
    margin-left: auto;
    margin-right: auto;
}

header{
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

header.shadow{
    background-color: var(--bg-color);
    box-shadow: 4px 4px 4px rgb(15 54 55 / 10%);
    transition: 0.5s ease;
}

header.shadow #search-icon{
    color: var(--text-color);
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 35px;
}

#menu-icon{
    font-size: 24px;
    cursor: pointer;
    color: var(--text-color);
    display: none;
}

.logo{
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--text-color);
}


.logo span{
    color: var(--main-color);
}

.navbar{
    display: flex;
    column-gap: 2rem;
}

.navbar a{
    color: var(--text-color);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;

}

.navbar a:hover,
.navbar .active{
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

#search-icon{
    font-size: 24px;
    cursor: pointer;
    color: var(--bg-color);
}

.search-box{
    position: absolute;
    top: 110%;
    right: 0;
    left: 0;
    background: var(--bg-color);
    box-shadow: 4px 4px 20px rgb(15 54 55 / 10%);
    border: 1px solid  var(--main-color);
    border-radius: 0.5rem;
    clip-path: circle(0% at 100% 0%);
}

.search-box.active{
    clip-path: circle(144% at 100% 0%);
    transition: 0.4s;
}
.search-box input{
    width: 100%;
    padding: 20px;
    border: none;
    outline: none;
    background: transparent;
    font-size: 1rem;

}

.home{
    max-width: 1300px;
    margin: auto;
    width: 100%;
    min-height: 640px;
    display: flex;
    align-items: center;
    background: url(img/Background-home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center left;
}

.home-text{
    padding-left: 130px;
}

.home-text h1{
    font-size: 2.4rem;
}


.home-text span{
    color: var(--main-color);
}

.home-text p{
    font-size: 0.938rem;
    font-weight: 300;
    margin: 0.5rem 0 1.2rem;
}

.btn{
    padding: 10px 22px;
    background: var(--main-color);
    color: var(--bg-color);
    font-weight: 400;
}

.btn:hover{
    background: #f46e00;

}

.heading{
    text-align: center;
}

.heading span{
    font-weight: 500;
    color: var(--main-color);
}

.heading p{
    font-size: 0.938rem;
    font-weight: 300;
}


.cars-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
    
}

.cars-container .box{
    flex: 1 1 17rem;
    position: relative;
    height: 200px;
    border-radius: 0.5rem;
    overflow: hidden;
}



.cars-container .box img:hover{
    transform: scale(1.1);
    transition: 0.5s;

}

.cars-container .box h2{
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    font-weight: 400;
    font-size: 1rem;
    background-color: var(--bg-color);
    padding: 8px;
    border-radius: 0.5rem;

}

.cars-container  .box:hover h2{
    background: var(--main-color);
    color: var(--bg-color);
}


.about{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.5rem;

}

.about-img{
    flex: 1 1 21rem;
}

.about-text{
    flex: 1 1 21rem;
}


.about-text span{
    font-weight: 500;
    color: var(--main-color);
}

.about-text h2{
    font-size: 1.7rem;
}

.about-text p{
    font-size: 0.938rem;
    margin: 0.5rem 0 1.4rem;
}


.parts-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
}

.parts-container .box{
    flex: 1 1 17rem;
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background: #f6f6f6;
    border-radius: 0.5rem;

}

.parts-container .box img{
    width: 100%;
    height: 150px;
    object-fit: contain;
    object-position: center;
    margin-bottom: 1rem;
}

.parts-container .box h2{
    font-size: 1.1rem;
    font-weight: 600;
}

.parts-container .box span{
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--main-color);
}

.parts-container .box .bx{
    color: var(--main-color);
    margin: 0.8rem 0;
}

.parts-container .box .btn{
    max-width: 120px;
}


.parts-container .box .details{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 1.8rem;
    right: 1rem;
    font-size: 1rem;
    color: var(--text-color);
}

.parts-container .box .details:hover{
    color: var(--main-color);
    text-decoration: underline;
}


.blog-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
}

.blog-container .box{
    flex: 1 1 13rem;
    padding: 20px;
}

.blog-container .box:hover{
    background: #f6f6f6;
}

.blog-container .box span{
    font-size: 0.8rem;
    color: var(--main-color);
}

.blog-container h3{
    font-size: 1.2rem;

}

.blog-container.box p{
    font-size: 0.938rems;
    margin: 4px 0;
}

.blog-container .box .blog-btn{
    display: flex;
    align-items: center;
    column-gap: 4px;
    color: var(--text-color);

}

.blog-container .box .blog-btn .bx{
    font-size: 20px;
}

.blog-container .box .blog-btn:hover{
    color: var(--main-color);
    column-gap: 0.7rem;
    transition: 0.4s;

}

.footer{
    background: var(--text-color);
    color: #f6f6f6;
    border-top: 2px solid var(--main-color);
}

.footer-container{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.footer-container .logo{
    color: var(--bg-color);
    margin-bottom: 1rem;

}

.footer-container .footer-box{
    display: flex;
    flex-direction: column;
}


.social{
    display: flex;
    align-items: center;
}

.social a{
    font-size: 24px;
    color:var(--bg-color);
    margin-right: 1rem;
}


.social a:hover{
    color: var(--main-color);
}


.footer-box h3{
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: 1rem;

}


.footer-box p:hover{
    color: var(--main-color);
}


.footer-box a,
.footer-box p{
    color: #818181;
    margin-bottom: 10px;

}


.footer-box a:hover{
    color: var(--main-color);
}


.copyright{
    padding: 20px;
    text-align: center;
    color: var(--bg-color);
    background: var(--text-color);
}

.copyright p:hover{
    color: var(--main-color);
}


/* Making Responsive */
@media (max-width: 1080px) {
    .container {
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }
  @media (max-width: 991px) {
    .nav {
      padding: 15px 20px;
    }
    section {
      padding: 3rem 0 1rem;
    }
    .home-text {
      padding-left: 2rem;
    }
    .home-text h1 {
      font-size: 2.1rem;
    }
  }
  @media (max-width: 920px) {
    #search-icon {
      color: var(--text-color);
    }
  }
  @media (max-width: 768px) {
    .search-box input {
      padding: 15px;
    }
    .nav {
      padding: 10px 0;
    }
    #menu-icon {
      display: initial;
    }
    .navbar {
      position: absolute;
      top: 100%;
      right: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      background: var(--bg-color);
      row-gap: 0.5rem;
      text-align: center;
      box-shadow: 4px 4px 20px rgb(15 54 55 / 20%);
      clip-path: circle(0% at 0% 0%);
      transition: 0.6s;
    }
    .navbar a {
      display: block;
      padding: 15px;
    }
    .navbar a:hover,
    .navbar .active {
      border-bottom: none;
      background: var(--main-color);
      color: var(--bg-color);
    }
    .navbar.active {
      clip-path: circle(144% at 0% 0%);
    }
    .blog-container .box {
      padding: 4px;
    }
  }
  @media (max-width: 727px) {
    .heading span {
      font-size: 0.9rem;
    }
    .heading h2 {
      font-size: 1.4rem;
    }
    .about {
      flex-direction: column-reverse;
    }
    .about-text {
      text-align: center;
    }
    .about-text h2 {
      font-size: 1.4rem;
    }
  }
  @media (max-width: 607px) {
    .footer-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
  @media (max-width: 360px) {
    .search-box input {
      padding: 11px;
    }
    .home {
      min-height: 500px;
    }
    .home-text h1 {
      font-size: 2rem;
    }
    .home-text p br {
      display: contents;
    }
  }
  .parts-slider {
    width: 100%; /* Ajustar el ancho del carrusel */
    overflow: hidden; /* Ocultar el contenido que se desborda */
    position: relative; /* Posición relativa para alinear las flechas */
}

/* Slider Wrapper */
.parts-slider .swiper-wrapper {
    display: flex; /* Hacer que los elementos sean flexibles */
}

/* Slide */
.parts-slider .swiper-slide {
    flex-shrink: 0; /* Evitar que los slides se reduzcan */
    width: 30%; /* Ajustar el ancho de cada slide */
}

/* Imagen en el Slide */
.parts-slider .swiper-slide img {
    width: 20%; /* Ajustar el ancho de la imagen */
    height: auto; /* Mantener la proporción de aspecto */
    display: block; /* Mostrar la imagen como un bloque */
    margin: 0 auto; /* Centrar la imagen horizontalmente */
}

/* Flechas de Navegación */
/* Flechas de Navegación */
.swiper-button-prev,
.swiper-button-next {
    position: absolute; /* Posición absoluta para colocar las flechas */
    top: 50%; /* Colocar las flechas en el centro vertical */
    transform: translateY(-50%); /* Alinear verticalmente las flechas */
    width: 40px; /* Ancho de las flechas */
    height: 40px; /* Altura de las flechas */
    background-color: rgba(0, 0, 0, 0.5); /* Color de fondo semi-transparente */
    border-radius: 50%; /* Forma de círculo */
    cursor: pointer; /* Cambiar el cursor al pasar sobre las flechas */
    z-index: 10; /* Colocar las flechas sobre el contenido */
    color: white; /* Color del icono de la flecha */
    font-size: 24px; /* Tamaño del icono de la flecha */
    display: flex; /* Alinear el contenido en el centro */
    justify-content: center; /* Alinear horizontalmente */
    align-items: center; /* Alinear verticalmente */
}

/* Estilos para la flecha izquierda */
.swiper-button-prev {
    left: 10px; /* Colocar la flecha izquierda a la izquierda */
}

/* Estilos para la flecha derecha */
.swiper-button-next {
    right: 10px; /* Colocar la flecha derecha a la derecha */
}
.about-text p{
    text-align: justify;
}
.about-img img {
    border-radius: 30%;
    box-shadow: 0 0 20px rgba(7, 7, 223, 0.81); 
    transition: filter 0.3s ease;/* Agrega una sombra suave a la imagen */
  }
  .about-text p {
    font-size: 16px;
    line-height: 1.6;
  }
  .about-img {
    position: relative;
    display: inline-block;
    overflow: hidden;
    transition: filter 0.3s ease; /* Transición suave para el efecto de desenfoque */
  }
  
  .about-img img {
    width: 90%;
  }
  
  .about-img:hover img {
    filter: blur(10px); /* Aplica un efecto de desenfoque a la imagen */
  }
  
  .about-img::after {
    content: "¡Gracias por visitarnos!";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    z-index: 1;
    opacity: 0; /* Inicialmente oculta el texto */
    transition: opacity 0.3s ease; /* Transición suave para la aparición del texto */
  }
  
  .about-img:hover::after {
    opacity: 1; /* Hace que el texto sea visible al pasar el mouse sobre la imagen */
  }
  .dropdown.autos .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    top: calc(100% + 10px); /* Posiciona la lista desplegable debajo del enlace "AUTOS" */
    left: 50%; /* Centra la lista desplegable */
    transform: translateX(-50%); /* Corrige el centrado */
}

.dropdown.autos .dropdown-content a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: #333;
}

.dropdown.autos.active .dropdown-content {
    display: block;
}
.heading {
    text-align: center;
}

.heading h1 {
    margin-top: 1rem;
}

/* Estilos adicionales para el logo de Toyota */
.nav .logo img {
    width: 80px; /* Ajusta el tamaño del logo según sea necesario */
    margin-right: 10px; /* Ajusta el margen derecho del logo según sea necesario */
}
.cars-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Distribuir los elementos de manera uniforme */
}

.box {
    width: calc(50% - 20px); /* Ancho del 50% con espacio entre los elementos */
    margin-bottom: 20px; /* Espacio entre las cajas */
}

@media (min-width: 768px) {
    .box {
        width: calc(25% - 20px); /* Ancho del 25% con espacio entre los elementos */
    }
}
.cars-container {
    display: flex;
    flex-wrap: wrap;
}

.car-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px; /* Ajusta según sea necesario */
}

.box {
    width: calc(50% - 10px); /* 50% del ancho menos el margen entre los boxes */
    margin-right: 10px; /* Agrega un margen derecho */
}

.box:last-child {
    margin-right: 0; /* Elimina el margen derecho del último elemento de la fila */
}
.parts-slider .box img {
    display: block; /* Mostrar la imagen como un bloque */
    margin: 0 auto; /* Centrar horizontalmente la imagen */
}
.parts-slider .swiper-slide .box {
    display: flex; /* Utilizar flexbox para centrar vertical y horizontalmente */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    width: 100%; /* Asegurarse de que el contenedor tenga el ancho completo */
}

.parts-slider .box img {
    max-width: 100%; /* Ajustar el tamaño máximo de la imagen al 100% del contenedor */
    height: auto; /* Mantener la proporción de aspecto */
}
/* Estilos para la carta */
.flip-card {
    background-color: transparent;
    width: 100%;
    height: 100%;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #bbb;
}

.flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
}
.flip-card-back {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Estilos para los botones */
.box {
    margin: 0 10px;
    position: relative;
}

/* Botones para los carros */
.car-buttons {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center; /* Alineación centrada */
}

/* Botón de Toyota Car */
.car-buttons .toyota-button {
    background-color: #ececec;
    color: #fff;
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.whatsapp-float {
    position: fixed;
    width: 60px;
    height: 60px;
    top: 60px; /* Distancia desde la parte superior */
    right: 20px; /* Distancia desde el borde derecho */
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 24px;
    box-shadow: 2px 2px 3px #999;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: top 0.3s, right 0.3s; /* Agregado efecto de transición */
}

.whatsapp-float:hover {
    background-color: #128c7e;
    color: #fff;
    text-decoration: none;
}
.car-image {
    position: relative;
    overflow: hidden;
}

.car-image img {
    transition: transform 0.3s ease; /* Transición para el efecto de zoom */
}

.car-image:hover img {
    transform: scale(1.1); /* Efecto de zoom al pasar el cursor sobre la imagen */
}

.btn-see-car {
    display: block;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    padding: 8px 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-see-car:hover {
    background-color: #0056b3; /* Cambio de color al pasar el cursor sobre el botón */
}
